@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');


:root{
--primary-color:#065F46;
--second-color: #6ee7b7;
}
body{

 background-image: url(/bcg.jpg);
    color:var(--primary-color);
    font-family: 'El Messiri', sans-serif;
}
/* header */
.top{
    padding: 0.5rem;
    padding-top: 1rem;
    text-align:center;
    background-color: var(--second-color);
}
.top .top-img{
    max-width: 150px;
    display:block;
    margin:auto;
}
textarea{
    height: 4rem;
    display:block;
    margin: 1rem;
    width: 80%;
    border: 1px solid var(--primary-color);
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 10px;
    padding: 1rem;
}
/* output box */
#output{

    height: 4rem;
    display: block;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    width: 80%;
    border-radius: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem;
    background-color: white; 
}
button{
    font-family: 'El Messiri', sans-serif;
    background-color: var(--primary-color);
    color: var(--second-color);
    display:inline-block;
    display: block;
    height: 3.5rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
}
/* footer */
.footer{
    padding: 0.5rem;
    padding-top: 1rem;
    text-align:center;
    background-color:var(--second-color);
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

/* list and links */
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display:inline;
    padding:0rem 0.5rem;
}
/* link */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--primary-color);
    
}
